<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>金融管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
	 .title{
     margin:0px;
     padding:0px;
     height: 80px;
     float：left
    }
	</style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>    <div class="title">
    <p style="color: white;font-size:40px;padding-top: 30px;font-family:&#39;黑体&#39;">金融理财管理系统</p>
                        </div>
                        </li>
                    <li>&nbsp;&nbsp;</li>
                    <li style="padding-top: 30px;"><a href="/">Home</a></li>
					{%for item in indexlist%}
                    <li class="dropdown" id="accountmenu" style="padding-top: 30px;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{item.0}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
							{%for elem in item.1%}
                            <li><a href="{{elem.1}}">{{elem.0}}</a></li>
							{%endfor%}
                        </ul>
                    </li>
					{%endfor%}
                    
                    <li class="dropdown" style="padding-top: 30px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.username}}</b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout">切换账号登陆</a></li>
                        <li><a href="/logout">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block center %}
    {% endblock %}
 
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
   </script>
</body>
</html>
