{% extends 'base.html' %}

{% block center %}

{% load bootstrap_toolkit %}

<script>
function changeuser(userid)
{
    window.location.href="/changejur?userid=" + userid;
}
</script>

<div class="right">
    <h5>权限调整</h5>
    {% if change_succ %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>成功!</h4>权限调整成功
        </div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            
            <select name="user_id" onchange="changeuser(this.value)">
            {%for item in users%}
            {% ifequal item.id userid%}
            <option value={{item.id}} selected>{{item.username}}</option>
            {%else%}
            <option value={{item.id}}>{{item.username}}</option>
            {%endifequal%}
            {%endfor%}
            </select>
            
            {{ form|as_bootstrap:"horizontal" }}
            <p class="form-actions">
                <input type="submit" value="提交" class="btn btn-primary">
            </p>
        </form>
    </div>
<div>
    <br />
    <div>
        <form method='post' action='/deleteuser'>
            <select name="user_id">
                {%for item in users%}
                <option value='{{item.id}}'>{{item.username}}</option>
                {%endfor%}
            </select>
            <br />
            <input type="submit" value="删除用户" />
        </form>
    </div>
<div>


{% endblock %}
