{% extends 'base.html' %}

{% block center %}
<script>
function GoTo(var1){
 var PageNo=document.getElementById("PageNo").value;
 if (PageNo <= var1){
 var url = "";
 url = 'log?page='+PageNo;
 window.open(url, '_self');
}
else{
 window.alert('请输入正确页码');
}
}
function checknull()
{
    var a = document.getElementById("number").value;
    if(a==""){
        alert("请输入合同号");
        return false;
    }
    return true;
}
</script>
<style>
.input-append{
text-align:center;
margin-left:auto; 
margin-right:auto;
}
.fenye{
text-align:center;
}
</style>
<div class="right">
    <div class="container">
      <h2>日志</h2>
<div class="input-append" >
 <form class="form-horizontal" action="/log" method="post" onsubmit="return checknull()">
    <input type="text" class="span2 search-query" id="number" name="number" placeholder="按合同编号查询" style="width:218px">
        <input type="submit" class="btn" value = "Search">
</form>
</div>      
      <table class="table">
        <thead>
          <tr>
            <th>信息</th>
            <th>时间</th>
            <th>操作人</th>
          </tr>
        </thead>
        <tbody>
        {%for item in logs%}
        <tr>
            <td>{{item.info}}</td>
            <td>{{item.time}}</td>
            <td>{{item.thisuser.username}}</td>
        </tr>
        {%endfor%}
        </tbody>
      </table>
    </div>
	<div class='fenye' >
	  {%ifnotequal curpage 1 %}
		<a href="/log?page={{curpage}}&&pagetype=pageup">上一页</a>
		{% endifnotequal %}
		第{{curpage}}/{{allpage}}
		{% ifnotequal curpage allpage %}
		<a href="/log?page={{curpage}}&&pagetype=pagedown">下一页</a>
		{% endifnotequal %}
		{% ifnotequal allpage 1 %}
		<p>跳转到第<input id='PageNo' style="width:30px;"> 页 <input type='button' value='GO' onclick="GoTo({{allpage}})"></p>
		{% endifnotequal %}
		</div>
<div>


{% endblock %}
