{% extends 'base.html' %}

{% block center %}
<style>
.well{
text-align:center;
margin-left: auto;
margin-right: auto;
}
</style>
<script>
function back(){
history.back(-1);
}
</script>
<div class="right">
    <div class="new">
        <h1>合同详情</h1>
    </div>
    <div class="showcontract">
        <div class="well">  
		<table  class="table" style="width: 30%;margin:auto ;font-size:20px;text-align:left; border-collapse:separate;border-spacing:10px">
            <tbody>
                <tr>
                    <th>合同编号</th>
                    <td>{{contract.number}}</td>
                </tr>
				
                <tr>
                    <th>姓名</th>
                    <td>{{contract.client_name}} </td>
                </tr>
                <tr>
                    <th>身份证号</th>
                    <td>{{contract.client_idcard}}  </td>
                </tr>
                <tr>
                    <th>客户地址</th>
                    <td>{{contract.address}}  </td>
                </tr>
                <tr>
                    <th>开户行</th>
                    <td>{{contract.bank}}</td>
                </tr>
                <tr>
                    <th>收款支行</th>
                    <td>{{contract.subbranch}}</td>
                </tr>
                <tr>
                    <th>收款省/直辖市</th>
                    <td>{{contract.province}}</td>
                </tr>
                <tr>
                    <th>收款市/县</th>
                    <td>{{contract.city}}</td>
                </tr>
                <tr>
                    <th>银行卡号</th>
                    <td>{{contract.bank_card}}</td>
                </tr>
                <tr>
                    <th>金额</th>
					<td>{{contract.money}}</td>
                </tr>
                <tr>
                    <th>产品</th>
                    <td><a href="/product/{{contract.thisproduct.id}}">{{contract.thisproduct.name}}</a></td>
                </tr>
                <tr>
                    <th>开始日期</th>
                    <td>{{contract.startdate}}</td>
                </tr>
                <tr>
                    <th>结束日期</th>
					    <td>{{contract.enddate}}</td>
                </tr>
                <tr>
                    <th>理财顾问</th>
                    <td>{{contract.thismanager.name}}</td>
                </tr>
                <tr>
                    <th>手续费</th>
                    <td>{{contract.factorage}}</td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td>{{contract.comment}}</td>
                </tr>
                <tr>
                    <th>审核状态</th>
					{% ifequal contract.status 2%}
					<td>初审通过</td>
					{%endifequal%}
					{% ifequal contract.status 1%}
					<td>初审未通过</td>
					{%endifequal%}
					{% ifequal contract.status 4%}
					<td>全部审核通过</td>
					{%endifequal%}
                </tr>
                {%ifnotequal contract.renewal_father_id -1%}
                <tr>
                    <th>续签自</th>
                    <td><a href="/contract/{{contract.renewal_father_id}}">上一次合同</a></td>
                </tr>
                {%endifnotequal%}
                {%ifnotequal contract.renewal_son_id -1%}
                <tr>
                    <th>续签了</th>
                    <td><a href="/contract/{{contract.renewal_son_id}}">下一次合同</a></td>
                </tr>
                {%endifnotequal%}
            </tbody>
        </table>
		<br></br>
                <input type="submit" value="返回" class="btn btn-primary" onclick="back()">
            </p>

            </form>
            </div>
      

    
    </div> <!-- /container -->
</div>

{% endblock %}
